body {
    background-color: black;
    font-family: Arial, sans-serif;    
}
.quiz {
    margin-left: 700px;
    margin-top: 100px;
    color: red;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}